.zjy_login_index{width:556px;height:386px;border:1px solid #cbcbcb;padding:18px; position: relative;}
.zjy_login_inset{width:100%;height:100%; border:dashed 1px #4485ad; overflow: hidden; position: relative; color:#323232;}
.zjy_login_inset .login_point{position: absolute; right:13px;top:13px; font-size:14px;}
.zjy_login_inset .login_form{width: 310px; margin:10px auto 0;  text-align: center}
.zjy_login_inset .login_form h2{font-size:18px;margin-top:12px; margin-bottom:25px;}
.zjy_login_inset .login_form h2 a{color: #0067af}
.zjy_login_inset .login_form .login_switch{font-size:16px;}
.zjy_login_inset .login_form .switch_top{display: flex; display: -webkit-flex; display: -moz-flex; justify-content:space-between; margin-bottom:25px;}
.zjy_login_inset .login_form .switch_top span{cursor: pointer}
.zjy_login_inset .login_form .switch_top span.active{color:#0069b9}
.zjy_login_inset .login_form .switch_middle{position:relative}
.zjy_login_inset .login_form .switch_middle .inp_id{border-radius:8px; height:34px; border:1px solid #ccc; display: flex; overflow: hidden; text-align: left;}
.zjy_login_inset .login_form .switch_middle .login_inp_error{font-style: normal; position:absolute; top:35px; left:0px}
.zjy_login_inset .login_form .switch_middle .login_pass_error{font-style: normal; position:absolute; top:105px; left:0px}
.zjy_login_inset .login_form .switch_middle .inp_id span{width:42px;height:100%; background:#ccc;display: inline-block; line-height:35px; text-align: center;}
.zjy_login_inset .login_form .switch_middle .inp_id span:before{content:'';display: inline-block; width:13px; height:15px; background: url('../img/index_sprite.png') no-repeat -52px 0}
.zjy_login_inset .login_form .switch_middle .inp_id:nth-of-type(2) span:before{background-position:-40px 0;width:12px; height:16px;}
.zjy_login_inset .login_form .switch_middle .inp_id input{flex:1; outline: none;border:0; padding-left:10px; }
.zjy_login_inset .login_form .switch_middle .inp_id:nth-of-type(2){margin-top:30px;}
.zjy_login_inset .login_form .switch_middle .inp_enter button{cursor: pointer; height:34px; background: #0067b4; color: white; font-size:14px; line-height: 34px; width:100%; border:0; outline: none; border-radius: 8px;}
.zjy_login_inset .login_form .form_error{margin:10px 0 5px; height:25px; text-align: left; color: #e04648;}
.zjy_login_inset .login_form .form_error i{display: inline-block; width:21px; height:17px; background:url(../img/error_prompt.png) no-repeat; margin-right: 5px; vertical-align: bottom;}
/*登陆后的界面 学生-班主任-代课老师------------------------------------*/
.zjy_login_inset .zjy_signin_dash{height:50%; margin:0 15px; position: relative; border-bottom: 1px dashed #4485ad ;}
.zjy_login_inset .zjy_signin_dash .signin_headpic{position:absolute;left:50%; transform: translateX(-50%); bottom:-10px;background: white;text-align: center;padding:0 10px; cursor: pointer;}
.zjy_login_index .signin_date{position:absolute; right:0px;top:0; padding:22px 0 8px; background: #0067b4; width: 132px; color: white; border-radius: 0 0 0 50px; font-style: normal;}
.zjy_login_index .signin_date span{float: left;width:33px; height:33px;margin-left:20px;border-radius: 50%; background: white; text-align: center;line-height: 33px; color: #0059a9; margin-right: 20px;;}
.zjy_login_index .signin_date p{margin-bottom:9px;}
.zjy_login_index .zjy_signin_mes{ height:50%;width:100%;margin-top:30px; }
.zjy_login_index .zjy_signin_mes .signin_mes_main li p{width:92px; height:34px; border:1px solid #0964ab; border-radius: 5px;line-height: 34px; text-align: center; color: #0964AB; margin:0 auto; cursor: pointer;}
.zjy_login_index .zjy_signin_mes .signin_mes_main li{ display: flex; flex-flow: column; justify-content: space-between;}
.zjy_login_index .zjy_signin_mes .signin_mes_main li:nth-of-type(2) p{color: #dd484e; border-color: #dd484e ;}
.zjy_login_index .zjy_signin_mes .signin_mes_main{width: 100%;height:65%; overflow: hidden; display: flex; flex-flow: row; justify-content: space-around; position:relative; padding-bottom:15px;}
.zjy_login_index .zjy_signin_mes .signin_mes_main:after{content:''; display:block; width:1px; height:100%; border-left:1px dashed #0059A9; position: absolute; left:50%}
.zjy_login_index .zjy_signin_mes .signin_mes_main li p i {font-size: 14px;font-weight: 600; margin-right:3px ;}
.zjy_login_index .zjy_signin_mes .signin_mes_main.dataTeach li p:nth-of-type(2){color: #dd484e; border-color: #dd484e;}
.zjy_login_index .zjy_signin_mes .signin_mes_main.dataStudent li{margin: 0 auto; flex-flow: row; align-items: center; width: 100%;}
.zjy_login_index .zjy_signin_mes .signin_mes_main.dataStudent li p{color: #dd484e; border-color: #dd484e ;}
.zjy_login_index .zjy_signin_mes .signin_mes_main.dataParents li{margin: 0 auto;flex-flow: row; align-items: center;width: 100%}
.zjy_login_index .zjy_signin_mes .signin_mes_main.dataParents li p{color: #0067AF; border-color: #0059A9 ;}
/*登陆后的界面 家长端*/
.zjy_login_inset .zjy_signin_parent{height: 28%;}
.zjy_login_inset .zjy_parent_class{display: flex;height: 20%;margin-top: 40px;}
.zjy_login_inset .zjy_parent_class .signin_mes_main:after{content:''; border:none}
.zjy_login_inset .zjy_parent_class .signin_mes_main{justify-content: center; flex-flow: row;}
.zjy_login_index .zjy_login_inset .zjy_parent_class .signin_mes_main li p:nth-of-type(2){margin:0 10px; color: #0059A9; border-color: #0059A9;}
.zjy_login_inset .zjy_parent_class .signin_mes_main li{ flex-flow: row;}
.zjy_login_index .zjy_login_inset .zjy_parent_child{margin:0 15px; position: relative; border-top: 1px dashed #0059A9; }
.zjy_login_index .zjy_login_inset .zjy_parent_child .zjy_parent_children{width: 225px;height: 92px;border:1px solid #0066b5; margin:20px auto 0; border-radius: 5px;display: flex; flex-flow: column;}
.zjy_login_index .zjy_login_inset .zjy_parent_child .zjy_parent_children p{display:flex;}
.zjy_login_index .zjy_login_inset .zjy_parent_child .zjy_parent_children p span{flex:1;text-align: center; line-height: 30px;color: #0059A9; height: 30px; border-bottom:1px dashed #0059A9 ; cursor: pointer;}
.zjy_login_index .zjy_login_inset .zjy_parent_child .zjy_parent_children p span.active{background: #0066b5; color: white;}
.zjy_login_index .zjy_login_inset .zjy_parent_child .parent_child_mes{display: flex;text-align: center; justify-content: center; flex-flow: column; flex: 1;}
.zjy_login_index .zjy_login_inset .sign_parents_title{position: absolute; top:-10px;padding:0 20px ;background: white; left:50%;transform: translateX(-50%);}
/*登陆后的界面  教师管理者  */
/*.zjy_login_inset .zjy_manage_class ul{ display: flex;}*/
.zjy_login_inset .zjy_manage_class ul li:nth-of-type(1){width:140px; border-right: 1px dashed #0059A9;}
.zjy_login_inset .zjy_manage_class ul li:nth-of-type(2){flex: 1;display:block;margin-left:25px;}
.zjy_login_index .zjy_login_inset .zjy_manage_class .signin_mes_main li{flex-flow: column;justify-content: space-between;padding-bottom:20px;}
.zjy_login_inset .zjy_manage_class{display: block; height: auto; margin-top:25px;width: auto;}
.zjy_login_inset .zjy_manage_class .signin_mes_main{margin:0 15px; width: auto; justify-content: flex-start; height: 140px; }
.zjy_login_index .zjy_login_inset .zjy_manage_class .signin_mes_main li:nth-of-type(1) p{margin: 0 auto;}
.zjy_login_inset .zjy_manage_class ul li:nth-of-type(2) p{color: #e9797d; border-color:#e9797d ;float: left; margin-bottom:47px;}
.zjy_login_index .zjy_login_inset .zjy_manage_class ul li:nth-of-type(2) p:nth-of-type(2){margin:0 15px;color: #dd484e; border-color:#dd484e ;}
.zjy_login_index .zjy_login_inset .zjy_manage_class ul li:nth-of-type(2) p:nth-of-type(5){margin:0 15px}
.zjy_login_index .zjy_login_inset .zjy_manage_btn{width: 50%;  margin:0 auto;}
.zjy_login_index .zjy_login_inset .zjy_manage_btn button{border:0; outline: none; height:30px; line-height:30px;color: white; background: #0066b5;width: 100%; margin:10px 0; border-radius: 5px; cursor: pointer;}
.zjy_login_index .zjy_login_inset .zjy_manage_btn p{color: #8d8d8d; text-align: center;}



/*教师授课管理页面*/
.zjy_teach_lesson{padding-bottom:260px;}
.zjy_teach_lesson .zjy_control_class{ padding:22px 0 25px;}
.zjy_teach_lesson .zjy_control_class li.active{float:left; margin-right:50px; border:1px solid #24a2ee; color: #24a2ee;line-height: 30px; padding:0 8px; border-radius: 5px;box-sizing: border-box;}
.zjy_teach_lesson .zjy_control_class li{float:left;height: 30px; margin-right:50px; box-sizing: border-box; padding:0 8px;line-height: 30px; cursor: pointer}
.zjy_teach_lesson .zjy_class_head .zjy_class_leader{cursor: pointer; padding-right:25px;background:url(../img/bianji.png) no-repeat right center}
.zjy_teach_lesson .zjy_class_head{font-size:16px; font-weight: 600;margin-bottom:20px;}
.zjy_teach_lesson .zjy_class_head p{float:right; font-size:12px; font-weight:100; color: #e04648; }
.zjy_teach_lesson .zjy_tableWrap {width: 100%;overflow: auto}
.zjy_teach_lesson .zjy_tableWrap table{width:100%; border-left:1px solid #cccccc;border-top:1px solid #ccc;text-align: center;}
.zjy_teach_lesson .zjy_tableWrap table td{padding:0 10px;padding-top:0;cursor:pointer;border-bottom:1px solid #ccc; border-right:1px solid #ccc;}
.zjy_teach_lesson .zjy_tableWrap table th{padding:0 10px;text-align: center;border-bottom:1px solid #ccc; border-right:1px solid #ccc; background: #eaf2f6; }
.zjy_teach_lesson .zjy_tableWrap table tr{line-height:50px;}
.gy_del_down .zjy_lesson_con {width:827px; height:565px;}
.gy_del_down .zjy_lesson_con h2 .zjy_close{background: url(../img/index_sprite.png) no-repeat -158px 0; width:17px;height:15px; float: right;margin:20px 20px 0 0}
.gy_del_down .zjy_lesson_con h2{background: #26a1ee; height: 55px; line-height: 55px; padding-left:30px; color: white}
.gy_del_down .zjy_lesson_con h2 span b{font-size: 17px; font-weight: 500; margin-right: 15px;}



/*教师管理页面*/
.zjy_teach_handle{padding-bottom:260px;}
.zy_centerTit .zjy_handle_tab{float:right}
.zy_centerTit .zjy_handle_tab strong{display: inline-block; height:30px;line-height: 26px; font-size:12px;padding:0 7px; margin:0 15px;  box-sizing: border-box; cursor: pointer}
.zy_centerTit .zjy_handle_tab strong.active{color: #25a1ee;border:1px solid #25a1ee; border-radius: 5px;}
.zjy_teach_handle .handle_head{height:86px;line-height:86px;}
.zjy_teach_handle .handle_head li{display: inline-block;width:90px;height:30px; background: #25a1ee; border-radius: 5px; margin-right:40px; line-height: 30px; text-align: center; color: white;cursor: pointer}
.zjy_teach_handle .handle_head li:last-of-type{width:236px;border:none; background: none;text-align: left; height: auto; }
.zjy_teach_handle .handle_head li:last-of-type input{vertical-align: bottom;border:1px solid #25a1ee;height: 28px;width:195px; outline: none; padding-left:5px}
.zjy_teach_handle .handle_head li:last-of-type .handle_search{width: 33px;height:30px; background:#25a1ee url(../img/fangdajing.png) no-repeat center; vertical-align: bottom}
.zjy_teach_handle .handle_table table{margin-bottom:100px;width:100%;border-top:1px solid #ccc; border-left:1px solid #ccc}
.zjy_teach_handle .handle_table table tr{line-height:50px; height:50px; text-align: center}
.zjy_teach_handle .handle_table table tr td{border-right:1px solid #ccc;border-bottom:1px solid #ccc}
.zjy_teach_handle .handle_table table tr th{text-align:center;border-right:1px solid #ccc;border-bottom:1px solid #ccc}
.zjy_teach_handle .handle_table table tr td .xiugai_icon{display: inline-block; width:16px;height:16px;background: url(../img/xiugai.png) no-repeat center; vertical-align: sub; margin-right:5px;}
.zjy_teach_handle .handle_table table tr input{outline: none; vertical-align: sub}
.zjy_teach_handle .handle_table .handle_footer{text-align: center}
.zjy_teach_handle .handle_table .handle_footer .handle_personcount{color: #25a1ee;margin:0 5px;}
.zjy_teach_handle .handle_table .handle_footer .handle_paging{display: inline-block;vertical-align: bottom;margin-left:15px; }
.zjy_teach_handle .handle_table .handle_footer .page-list{display: inline-block;}
.zjy_teach_handle .handle_table .handle_footer .handle_paging li{float: left;width: 22px;height:22px;border-radius: 5px; line-height: 22px; margin-right: 7px; cursor: pointer}
.zjy_teach_handle .handle_table .handle_footer .handle_paging li.active{ background: #25a1ee; color: white }
.zjy_teach_handle .handle_table .handle_footer .handle_paging li.disabled{cursor: not-allowed;}
.zjy_teach_handle .handle_table .handle_footer .handle_paging li.disabled span{pointer-events: none;}
.zjy_teach_handle .handle_table .handle_footer .handle_paging li:first-of-type{background: url(../img/fenyeprevious.png) no-repeat center}
.zjy_teach_handle .handle_table .handle_footer .handle_paging li:last-of-type{background: url(../img/fenyenext.png) no-repeat center}
/*学生管理*/
.zjy_teach_handle .zjy_student_gradelist .student_grade{float: left;}
.zjy_teach_handle .zjy_student_gradelist{ margin:32px 0 32px 0; }
.zjy_teach_handle .zjy_student_gradelist:nth-of-type(2){margin-bottom:0px;}
.zjy_teach_handle .zjy_student_gradelist ul{float:left; margin-left:60px; width: 91%}
.zjy_teach_handle .zjy_student_gradelist ul li{float: left;margin-right: 66px;cursor: pointer;padding-bottom:5px; border-bottom: 2px solid white;margin-bottom:10px;}
/*.zjy_teach_handle .zjy_student_gradelist ul span{float:left;margin-right: 80px;cursor: pointer}*/
.zjy_teach_handle .zjy_student_gradelist ul li.active{border-bottom:2px solid #25a1ee;color: #25a1ee}


/*icon图标------------------------------------------------------*/
@font-face {font-family: "iconfont";
  src: url('../font-icon/iconfont.eot?t=1487232126061'); /* IE9*/
  src: url('../font-icon/iconfont.eot?t=1487232126061#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font-icon/iconfont.woff?t=1487232126061') format('woff'), /* chrome, firefox */
  url('../font-icon/iconfont.ttf?t=1487232126061') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font-icon/iconfont.svg?t=1487232126061#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-renkeguanli:before { content: "\e624"; }

.icon-banjiguanli:before { content: "\e607"; }

.icon-jiazhangguanli:before { content: "\e60c"; }

.icon-xuexiaoguanli:before { content: "\e60e"; }

.icon-zinvziliao:before { content: "\e6a6"; }

.icon-jiaoshiguanli:before { content: "\e629"; }

.icon-gerenxinxi:before { content: "\e614"; }

.icon-jiaocaiguanli:before { content: "\e61b"; }

.icon-xueshengguanli:before { content: "\e606"; }

.icon-zhanghaoshezhi:before { content: "\e61c"; }
/*-----------------------------------------------------*/
/*首页*/
body {
    background: #f2f2f2;
}

.wx_baise{background:#fff}
span {
    display: inline-block
}

.center {
    width: 1200px;
    min-height: 500px;
    margin: 0 auto;
}

.login_banner {
    width: 1200px;
    height: 331px;
    margin-top: 20px;
    background: url(../img/enter_lesson.png)
}

.indexcontent {
    margin-top: 24px;
    margin-bottom:20px;
}

.wx_left {
    float: left;
}

.wx_right {
    float: right;
}

.wx_clear {
    clear: both;
}

.application,
.ziyuan {
    width: 592px;
    min-height: 200px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.applicationlogo,
.ziyuanlogo {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.fth1 {
    font-size: 16px;
    font-family: "微软雅黑";
}

.wx_applogo {
    background: url(../img/index_sprite.png) no-repeat -93px 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.wx_zylogo {
    background: url(../img/index_sprite.png) no-repeat -141px 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.wx_xuxian {
    width: 554px;
    height: 8px;
    margin: 0 auto;
}

.applicationul {
    width: 592px;
}

.applicationul li {
    display: inline-block;
    width: 192px;
    text-align: center;
    margin-top: 20px;
    vertical-align: top;
}

.mt10 {
    margin-top: 10px;
}

.ft14 {
    font-size: 14px;
}

.wx_xiaoxi {
    background: url(../img/index_sprite.png) no-repeat -175px 0;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.wx_xiaoxiul {
    width: 592px;
}

.wx_xiaoxiul li {
    height: 30px;
    text-indent: 20px;
    line-height: 30px;
    font-size: 14px;
}

.wx_active {
    color: #0067b4;
}

.wx_xiaoximk,
.xw_erweima {
    width: 592px;
    min-height: 155px;
    border: 1px solid #ccc;
}

.xw_erweima {}

.wx_neima {
    border: 1px dashed #4281bf;
    width: 552px;
    height: 115px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    line-height: 112px;
}

.wx_saoma {
    font-size: 16px;
    font-family: "微软雅黑";
    margin-left: 20px;
}

.wx_neima img {
    vertical-align: middle;
}
/*首页结束*/

/*登录页面*/
.wx_logintop {
    background: url(../img/login_background.png) no-repeat center right;
    width: 100%;
    height: 80%;
    position: absolute;
    background-size: cover;
}

.wx_loginbottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height:0;
    background: #fff;
}

.wx_loginbottom ul {
    margin-top: 10px;
}

.wx_loginbottom ul li {
    text-indent: 20px;
    font-size: 14px;
    font-family: "微软雅黑";
    height: 28px;
    line-height: 28px;
    color: #666;
}

.wx_loginlogo {
    text-align: center;
}

.wx_loginwindow {
    width: 389px;
    height: 563px;
    position: absolute;
    right: 10%;
    top: 6%;
}

.wx_window {
    margin-top: 20px;
}

.wx_login_switch {
    width: 389px;
    height: 400px;
    background: #fff;
    box-shadow: 0px 3px 10px #babebd;
}

.wx_login_switchtop {
    margin-bottom: 20px;
}

.wx_login_switchtop span {
    width: 124px;
    height: 60px;
    text-align: center;
    font-size: 22px;
    line-height: 60px;
    cursor: pointer;
}

.wx_login_switchtop span.active {
    color: #0067b4;
    border-top: 7px solid #0067b4;
}

.wx_login_switchtop i {
    font-size: 18px;
    font-style: normal;
}

.wx_inp_id {
    height: 60px;
    margin-left: 32px;
    margin-top: 30px;
}

.wx_inp_id span {
    display: inline-block;
    width: 59px;
    height: 60px;
    background: #ccc;
    line-height: 60px;
    text-align: center;
}

.wx_inp_id input {
    width: 240px;
    height: 58px;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 20px;
    font-size: 14px;
}

.wx_inp_id span:before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 15px;
    background: url('../img/index_sprite.png') no-repeat -52px 0;
    text-align: center
}

.wx_inp_id:nth-of-type(2) span:before {
    background-position: -40px 0;
    width: 12px;
    height: 16px;
    text-align: center;
}

.wx_inp_enter button {
    width: 320px;
    height: 50px;
    line-height: 50px;
    border: none;
    background: #0067b4;
    color: #fff;
    font-size: 22px;
    margin-left: 32px;
    margin-top: 10px;
    cursor: pointer;
}

.wx_wjmm {
    width: 320px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-left: 32px;
    position: relative;
    margin-top: 20px;
}

.wx_wjmm span:nth-of-type(1) {
    position: absolute;
    left: 0;
    cursor:pointer;
}

.wx_wjmm span:nth-of-type(2) {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.wx_window .ng-binding{margin-left:30px;color:#a10;height:20px;}
/*登录页面结束*/


/*个人中心*/
.zy_main{width: 1200px; margin: 0 auto;}
.zy_set{width: 100%; border: 1px solid #e5e5e5; box-sizing: border-box; padding: 0 22px; background: #fff;}
.zy_set span{display: inline-block; font-size: 1.6rem; height: 18px; border-left: 4px solid #25a1ee; margin: 22px 0 15px; padding-left: 10px;}
.zy_set ul{padding: 34px 0 54px; border-top: 1px solid #e5e5e5;} 
.zy_set ul li{margin-right: 80px; font-size: 1.4rem; cursor: pointer;}
.zy_set ul li img{display: block; margin-bottom: 16px; }
.zy_set ul li img~i{font-style: normal;}
.zy_personalSet{margin: 20px 0;}

/**/
.zy_cont{width: 100%; box-sizing: border-box; padding: 0 20px; background: #fff; border: 1px solid #ddd; margin-bottom:24px ;}
.zy_centerTit{font-size: 1.6rem; height: 62px; line-height: 72px; border-bottom: 1px solid #25a1ee; position: relative;}
.zy_centerTit span{display: inline-block; width: 70px; cursor: pointer; text-align: center;}
.zy_centerTit span.zy_active{color: #3ea8ef; border-bottom: 4px solid #25a1ee; height: 58px;}
.zy_centerTit i{display: inline-block; width: 8px; height: 8px; background: #000; border-radius: 50%; overflow: hidden; margin: 0 30px; vertical-align: 2px;}
.zy_switchCon{font-size: 1.4rem;}
.zy_switchCon em,.zy_switchCon i{font-style: normal;}
.zy_switchCon{}
.zy_basicMsg{padding-top: 24px;}
.zy_basicMsg li{margin-bottom: 24px; position: relative; width: auto; display: table;}
.zy_basicMsg li em{margin-right: 14px;}
.zy_basicMsg li:first-child>span{margin-right: 100px;}
.zy_basicMsg>input,.zy_basicMsg select{box-sizing: border-box; width: 290px; padding-left: 10px; height: 30px; border: 1px solid #cccccc;}
.zy_basicMsg input~i{}
.zy_basicMsg select{appearance: none; -webkit-appearance: none; -moz-appearance: none;}
.zy_basicMsg input.zy_active{border-color: #25a1ee;}
.zy_basicMsg select~i{position: absolute; width: 10px; height: 10px; background: url(../img/index_sprite.png)no-repeat -20px 0; top: 10px; right: 10px;}
.zy_tips{color: #ff0000; font-weight: normal; font-style: normal; margin-left: 20px;} 

.zy_screenBox{margin-bottom: 16px;}
.zy_screenBox em{margin-right: 6px; vertical-align: 10px;}
.zy_option{display: inline-block;}
.zy_optionCon{position: relative; margin-right: 50px;}
.zy_optionCon select{height: 30px; border: 1px solid #ccc; color: #666; appearance: none; -moz-appearance: none; -webkit-appearance: none; padding-left: 10px; cursor: pointer;} 
.zy_option .zy_optionCon:first-child select,.zy_option .zy_optionCon:last-child select{width: 100px;}
.zy_option .zy_optionCon:nth-child(2) select{width: 130px;}
.zy_optionCon select~i{position: absolute; width: 10px; height: 10px; background: url(../img/index_sprite.png)no-repeat -20px 0; top: 10px; right: 10px;}

.zy_role{}
.zy_role em{margin-right: 6px; vertical-align: top;}
.zy_checkBox{display: inline-block;}
.zy_checkBox li{margin-bottom: 20px;}
.zy_checkBox li>div:not(:last-child){display: inline-block; margin-bottom: 22px;}
.zy_checkBox span{margin-right: 20px;}
.zy_role label{background: url(../img/checkbox_false.png) no-repeat 0 2px; padding-left: 22px; cursor: pointer;}
.zy_role label.zy_active{background-image: url(../img/checkbox_true.png);}
.zy_checkBox input[type="checkbox"]{margin-right: 5px; display: none;}
.zy_checkBox .zy_optionCon{display: inline-block;}
.zy_checkBox .zy_optionCon select{height: 20px; width: 100px; padding-left: 8px; cursor: pointer; appearance: none; -webkit-appearance: none; -moz-appearance: none;}
.zy_checkBox .zy_optionCon select~i{top: 5px;}
.zy_checkBox li p{display: inline-block; border-left: 2px solid #f29600; padding-left: 16px;}
.zy_checkBox li b{font-weight: normal; font-size: 1.4rem; display: inline-block; margin-right: 16px;}
.zy_choose{display: inline-block; color: #FFFFFF; font-weight: normal; width: 70px; height: 28px; line-height: 28px; text-align: center; background: #f29600; border-radius: 5px; overflow: hidden; vertical-align: middle; cursor: pointer; border: none 0; outline: none 0;}

.zy_ifTeaching{margin-top: 4px; margin-bottom: 40px; }
.zy_ifTeaching>em{margin-right: 6px;}
.zy_ifTeaching input[type="radio"]{margin-right: 6px; display: none;}
.zy_ifTeaching label{margin-right: 24px; background: url(../img/radio_false.png) no-repeat 0 2px; padding-left: 20px; cursor: pointer;}
.zy_ifTeaching label.zy_active{background-image: url(../img/radio_true.png);}
.zy_addTea{}

.zy_table{width: 100%; text-align: center; font-size: 1.4rem; border: 1px solid #ccc; margin-bottom: 40px;}
.zy_table th{height: 48px; background: #eaf2f6; text-align: center;}
.zy_table td{height: 44px;}
.zy_tableDelete{}
.zy_tableDelete i{display: inline-block; width: 16px; height: 18px; background: url(../img/per.png) no-repeat; vertical-align: bottom; margin-right: 4px;}

.zy_submit{display: block; width: 310px; height: 34px; line-height: 34px; text-align: center; margin: 0 auto; background: #25a1ee; border-radius: 5px; overflow: hidden; color: #FFFFFF; border: 1px solid #25a1ee; margin-bottom: 260px; cursor: pointer; outline: none;}

.zy_selectSubBox{}
.zy_boxTit{position: relative; text-align: left; height: 54px; line-height: 54px; background: #25a1ee; color: #fff; font-size: 1.6rem; padding-left: 30px;}
.zy_close{position: absolute; top: 20px; right: 28px; width: 17px; height: 15px; background: url(../img/index_sprite.png) no-repeat -158px 0; cursor: pointer;}
.zy_selectSubBox .zy_optionCon{display: inline-block;}
.zy_selectSubBox .zy_optionCon select{width: 158px; height: 30px; padding-left: 8px; cursor: pointer;}
.zy_alertBoxCon{font-size: 1.4rem; padding: 30px 0 0 30px;} 
.zy_selectSubDetail em{font-style: normal; margin-right: 6px;}
.zy_sub{margin-bottom: 40px;}
.zy_grade{margin-bottom: 70px; }
.zy_grade em{vertical-align: top;}
.zy_grade ul{display: inline-block;}
.zy_grade ul li{float: left; margin-right: 30px; cursor: pointer;}
.zy_grade ul li.zy_active{color: #25a1ee; border-bottom: 2px solid #25a1ee;}

.zy_btnGroup{text-align: center; font-size: 1.4rem;}
.zy_btnGroup input{width: 136px; height: 34px; border-radius: 5px; overflow: hidden; outline: none; cursor: pointer;}
.zy_btnGroup .zy_selectSubSure{background: #25a1ee; color: #fff; border: 1px solid #25a1ee; margin-right: 80px;}
.zy_btnGroup .zy_selectSubCancel{background#d0d0d0; border: 1px solid #d0d0d0; }

.zy_addClassBox .gy_con{height: 282px;}
.zy_addClassDetail{text-align: center; padding-top: 60px; padding-left: 0;}
.zy_selectGroup{display: inline-block; margin-bottom: 54px;}
.zy_selectGroup select{width: 100px;}
.zy_selectGroup .zy_optionCon{margin-right: 20px;}
.zy_selectGroup .zy_optionCon:last-child{margin-right: 0;}
.zy_selectGroup .zy_optionCon:nth-child(3) select{width: 130px;}
.zy_selectGroup .zy_optionCon:last-child select{width: 146px;}

.zy_ifTeaching label~button.zy_active,.zy_checkBox div span~button.zy_active{background: #ccc; cursor: not-allowed;}
.zy_mustStar{color: #ff0000; vertical-align: sub; margin-right: 4px;}

.zy_warningBox{}
.zy_warningBox .gy_con{width: 400px; height: 224px; border: 1px solid #ccc;}
.zy_warningBox .gy_con p{text-align: center; margin-top: 90px;}
.zy_warningBox .gy_con i{font-style: normal; font-size: 1.8rem; display: inline-block; margin-left: 10px; margin-top: 10px;}




/*学校管理*/
.zy_editTips{font-weight: normal; font-size: 1.4rem; color: #e04648; position: absolute; top: 8px; right: 0; height: inherit;}
.zy_schoolBasicMsg{border-bottom: 1px solid #25a1ee;}
.zy_schoolBasicMsg li em{margin-right: 7px;}
.zy_schoolBasicMsg li span input{display: inline-block; width: 290px; margin-right: 10px;}
.zy_schoolBasicMsg li.zy_sel span p{display: inline-block; position: relative; margin-right: 130px;}
.zy_schoolBasicMsg li.zy_sel span p select{width: 170px;}
.zy_schoolBasicMsg input.zy_active{border-color: #FF0000; border: none; outline: none;}
.zy_schoolBasicMsg li em.zy_long{margin-right: -8px;}
.zy_schoolBasicMsg strong,.zy_schoolBasicMsg b{font-weight: normal;}
.zy_schoolBasicMsg strong{color: #666;}
.zy_statistics strong{margin-right: 50px;}
li.zy_statistics em{margin-right: 8px;}
.zy_schoolBasicMsg li.zy_statistics input{border: none; text-align: center; color: #25a1ee; min-width: 20px; max-width: 50px; margin-right: 0; padding: 0;}

.zy_schoolYear.zy_basicMsg li{}
.zy_schoolYear.zy_basicMsg li .zy_time{display: inline-block; cursor: pointer; width: 144px; height: 30px; line-height: 30px; text-align: center; box-sizing: border-box; /*border: 1px solid #ccc;*/ margin-right: 14px;}
.zy_time p,.zy_time input{width: 100%; height: 100%; box-sizing: border-box;}
.zy_schoolYear.zy_basicMsg li>p{display: inline-block; width: 900px;}
.zy_schoolYear.zy_basicMsg li .zy_gradeBox input{width: 114px; margin-bottom: 30px; text-align: center; padding: 0; margin-right: 20px;}
.zy_schoolYear.zy_basicMsg li P input.zy_active{color: #25a1ee; border-color: #25a1ee;}
.zy_schoolYear.zy_basicMsg li em{vertical-align: 9px;}
.zy_schoolYear.zy_basicMsg li:last-child em{vertical-align: top;}
.zy_schoolYear li>i{font-size: 1.4rem; color: #666; vertical-align: 9px;}
.zy_schoolYear .zy_editTips{position: inherit; display: block; margin-left: 78px; margin-top: -26px; margin-bottom: 80px;}
 /*ui-date样式*/
/*.uib-button-bar .btn-group button[ng-click^="select(null)"] {display: none;}*/
 /*ui-date样式*/
.uib-button-bar .btn-group button[ng-click^="select(null, $event)"] {display: none;}

























